/**
 * Atrium form stylesheet.
 *
 * Provides styling for forms and form elements.
 */

/* Buttons */
a.button,
div.context-links a,
input.form-submit {
  padding:3px 10px;
  color:#fff;
  font-weight:normal;
  background:#39b;

  -moz-border-radius:20px;
  -webkit-border-radius:20px;
  }

  a.button:active,
  div.context-links a:active,
  input.form-submit:active {
    background:#c20;
    }

div.buttons { text-align:center; }

/* Nicer padding on input elements */
.form-text,
.form-textarea,
.form-select {
  width:90%;
  padding:5px;
  border:1px solid #ccc;
  border-top-color:#999;
  background:#fff;
  color:#333;
  }

  .form-text:focus,
  .form-textarea:focus,
  .form-select:focus {
    color:#000;
    border-color:#ace;
    }

  html.js input.form-autocomplete { background-position:100% 7px; }
  html.js input.throbbing { background-position:100% -13px; }

  /* Exceptions */
  #diff-inline-form select,
  #content div.filter-options select { padding:0px; }

/* Simple form items */
#content div.form-item { margin-bottom:20px; }
#content div.form-option { margin-bottom:10px; }
#content table div.form-item { margin-bottom:0px; }

/**
 * FIELDSETS  =========================================================
 */
div.fieldset,
div.view-filters,
form table {
  background: #fff;
  border:1px solid #ddd;
  margin:0px 0px 10px;
  }

div.fieldset h2.fieldset-title {
  background:transparent;
  font-size:11px;
  font-weight:bold;
  padding:5px;
  }


div.fieldset div.fieldset-content {
  background:transparent;
  border:0px;
  padding:5px;
  }

div.fieldset table { background:#eee; }

/**
 * FORM CSS REPAIRS FOR OTHERS ========================================
 */

/* Admin filter forms */
div.container-inline div { display:inherit; }

/* Login form */
form#user-pass input.form-text,
form#user-login input.form-text { font-size:18px; }

/**
 * Preview theming ====================================================
 */
div.node-preview {
  border:1px solid #eee;
  border-bottom-color:#ddd;
  padding:9px;
  margin:0px 0px 20px;
  }

div.node-preview h2.preview-title {
  background:#f8f8f8;
  padding:4px;
  font-size:11px;
  }

div.node-preview div.preview-content {
  padding:9px;
  height:300px;
  overflow:auto;
  }
