/**
 * Atrium form stylesheet.
 *
 * Provides styling for forms and form elements.
 */

/* Buttons */
a.button,
div.context-links a,
input.form-submit {
  padding:3px 10px;
  color:#fff;
  font-weight:normal;
  background:#39b;

  -moz-border-radius:20px;
  -webkit-border-radius:20px;
  }

  a.button:active,
  div.context-links a:active,
  input.form-submit:active {
    background:#c20;
    }

div.buttons { text-align:center; }

/* Nicer padding on input elements */
.form-text,
.form-textarea,
.form-select {
  width:90%;
  padding:5px;
  border:1px solid #ccc; border-top-color:#999;
  background:#fff;
  color:#333;
  }

  .form-text:focus,
  .form-textarea:focus,
  .form-select:focus {
    color:#000;
    border-color:#ace;
    }

  html.js input.form-autocomplete { background-position:100% 7px; }
  html.js input.throbbing { background-position:100% -13px; }

  /* Exceptions */
  #diff-inline-form select,
  #content div.filter-options select { padding:0px; }

/* Simple form items */
#content div.form-item { margin:0px 0px 20px; }
#content div.form-option,
#content table div.form-item { margin:0px; }

/* Nicer checkboxes */
#ucreate-user-form div.form-checkboxes div.form-option,
#spaces-og-user-groups-form div.form-checkboxes div.form-option {
  margin:0px 0px 5px;
  width:25%;
  float:left;
  }

#ucreate-user-form div.form-checkboxes div.form-option label,
#spaces-og-user-groups-form div.form-checkboxes div.form-option label {
  display:block;
  padding:5px;
  margin:0px 5px 0px 0px;

  white-space:nowrap;
  overflow:hidden;

  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  background:#f8f8f8;
  }

/**
 * FIELDSETS  =========================================================
 */
div.fieldset,
div.view-filters,
form table {
  background: #fff;
  border:1px solid #ddd;
  margin:0px 0px 10px;
  }

div.form #right div.form-item label,
div.fieldset h2.fieldset-title {
  background:transparent;
  font-size:11px;
  font-weight:bold;
  padding:5px;
  }

  div.form #right div.form-item label { padding:0px; }

div.fieldset div.fieldset-content {
  background:transparent;
  border:0px;
  padding:5px;
  }

div.fieldset table { background:#eee; }

div.form #right div.form-item,
div.form #right div.fieldset {
  background: #f8f8f8 url(images/bleeds.png) 0% 100% repeat-x;
  margin:0px;
  padding:5px 10px;
  border:0px;
  border-bottom:1px solid #ddd;
  }

  div.form #right div.fieldset div.fieldset-content,
  div.form #right div.fieldset h2.fieldset-title { padding:0px; }

  div.form #right div.fieldset div.form-item {
    background:transparent;
    border:0px;
    padding:0px;
    margin:0px 0px 10px;
    }

/**
 * FORM CSS REPAIRS FOR OTHERS ========================================
 */

/* Admin filter forms */
div.container-inline div { display:inherit; }

/* Date module is confused about itself */
#content div.container-inline-date {
  float:left;
  clear:none;
  }

/* Input filter options */
#content div.filter-target div.form-item {
  padding-bottom:0px;
  margin:0px;
  border:0px;
  }

#content div.filter-options { margin:0px; }

/* Spaces form messages */
div.form div.form-message {
  color:#666;
  background:#f8f8f8;
  border-bottom:1px solid #ddd;
  line-height:25px;
  padding:10px 10px 9px;
  }

  div.form div.form-message-public span.icon,
  div.form div.form-message-private span.icon {
    float:left;
    width:25px;
    height:25px;
    margin-right:10px;
    background: url(images/sprite_base.png) -30px 0px no-repeat;
    }

    div.form div.form-message-public span.icon { background-position: -55px 0px; }

/* Dashboard form */
form#spaces-customize-form h3 {
  font-weight:bold;
  font-size:15px;
  line-height:30px;
  }

form#spaces-customize-form div.region-right {
  float:right;
  width:33%;
  }

form#spaces-customize-form div.region-content {
  float:left;
  width:66%;
  }

/* Login form */
form#user-pass input.form-text,
form#user-login input.form-text { font-size:18px; }

/* Forms in sidebar blocks */
#right div.block div.form-item {
  display:inline;
  vertical-align:middle;
  }

#right div.block form option { display:block; }

#right div.block form select,
#right div.block form input.form-text,
#right div.block form textarea {
  font-size:11px;
  width:95%;
  }

/**
 * Preview theming ====================================================
 */
div.node-preview {
  border:1px solid #eee;
  border-bottom-color:#ddd;
  padding:9px;
  margin:0px 0px 20px;
  }

div.node-preview h2.preview-title {
  background:#f8f8f8;
  padding:4px;
  font-size:11px;
  }

div.node-preview div.preview-content {
  padding:9px;
  height:300px;
  overflow:auto;
  }
